nav {
  background-color: #1a1a2e;
}

ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 1rem;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}
.source a {
  color: #1a1a2e;
}
